* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(255, 202, 138);
  color: rgb(120, 42, 165);
}
/*  */
body {
  width: fit-content;
}
.links p a {
  text-decoration: none;
  color: crimson;
}
span {
  color: inherit !important;
}
h1 {
  position: relative;
  left: 5px;
}
h2 {
  position: relative;
  left: 25px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 50px;
  /* display: inline-block; */
  position: relative;
  left: 45px;
  /* width: fit-content; */
}
.cont {
  position: relative;
  left: 30px;
  top: 30px;
}
.links p {
  color: black;
}
.links {
  position: relative;
  left: 80px;
  top: 50px;
  color: black;
}
